{% extends "base.html"%}

{% block title %}Home{% endblock %}

{% block meta %}
    <meta name="description" content="{{ SITE_DESCRIPTION }}">
{% endblock %}

{% block content %}
<p><strong>Welcome to <a href="/">My Private Bookmarks!</a></strong></p>
<p>A simple private bookmarking app for you. No need to register just use your Gmail account to sign-in.</p>
  {% if not user %}
    <p><strong><a href="{{ link }}">Login</a></strong> to get started.</p>
  {% endif %}
{% endblock %}

